.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
*.csv
.ipynb_checkpoints/
*.bin
*.xml
secrets.toml
mlflow.db
.vscode